{{define "main"}}
<div id="services">
  <h3>About Us</h3>
  <a href="/estimate"><img src="/images/freeestimate.jpg" class="float-right" border="0"/></a>
  <p>C-Star Roofing Inc was established in 2007. Started as a father and son business, we have over 18 years of experience as roofing contractors and experts. 
We are still family owned and operated to this day. We 
are 
roofing contractors licensed and insured in the Province of Ontario.  Through our dedication 
and excellent customer service, we have become a reputable roofing company.</p>

  <p>C-Star Roofing Inc  is committed to delivering first class quality work. Our work ranges from general maintenance and repair service to complete roof installation and replacements on residential and commercial properties. </p>

  <p>Our experienced personnel provides free estimate,  roof inspections and detailed proposals. We provide high quality materials and 10 years labor warranty to ensure that you are 100% satisfied with our services. Our crews are experienced and professionally trained in the installation and repair  and jobsite safety.</p>

  <p>C-Star Roofing Inc will always provide top quality roofing job in the lowest cost. Our commitment and experience is our promise!</p>
  
  
</div>
{{end}}