<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-7" />
<title>C-Star Roofing</title>
<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
<link href="/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/lightbox/css/lightbox.css" type="text/css" />
<script src="/lightbox/scripts/prototype.js" type="text/javascript"></script>
<script src="/lightbox/scripts/lightbox.js" type="text/javascript"></script>
<script language="javascript" src="/analytics.js"></script>
<!-- <script src="https://www.google.com/recaptcha/api.js" async defer></script> -->
</head>

<body>
	<div id="wrapper">
		<div id="head">
			<div id="text-us" class="position-relative">Text us at:</div>
			<div id="text-reply" class="position-relative font-italic">100% Response Rate!</div>
		</div><!-- end of head -->
		<div id="topmenu">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/estimate">For An Estimate</a></li>
				<li><a href="/services">List of Services</a></li>
				<li><a href="/testimonials">Testimonials</a></li>
				<li><a href="/aboutus">About Us</a></li>
				<li><a href="/contactus">Contact Us</a></li>
			</ul>
		</div><!-- end of topmenu -->
{{ block "main" . }}

{{end}}
	  
      <!-- end of content -->
	  <div id="foot">
			<hr />
			<div id="footerArea1"><h1>Our Services</h1><p>- Reroofing<br />
			  - New Roof<br />- Skylight<br />
			  <a href="services.php">Learn More...</a></p>
			</div>
			<div id="footerArea1"><h1>Our Commitments</h1><p>- First Class Quality <br />
			  - 10 Years Labor Warranty <br />- 100% Satisfaction Guarantee<br />
			  <a href="aboutus.php">Learn More...</a></p>
			</div>
			<div id="footerArea1"><h1>Contact Us</h1><p>Text @: {{.Site.Params.phone}}<br>(We reply all messages!)</p><p><a href="mailto:info@cstarroofing.com">info@cstarroofing.com</a><p>450 Comstock Rd, Scarborough, ON M1L 2H4<br>Unit 5</p></div>
			<div id="footerArea2"><p>Copyright {{ .Date.Format "2006" }} <br />C-Star Roofing Inc.</p></div>		
		</div><!-- end of footer -->
	</div>
	<!-- end of wrapper -->
<script type="text/javascript" src="/bootstrap/js/jquery.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.bundle.min.js"></script>	
</body>
</html>
