<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-TL3XD2DS');</script>
<!-- End Google Tag Manager -->
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-7" />
<meta name="description" content="Scammers and Impersonators are using our name and logo! Verify the phone number before paying anything!">
<title>C-Star Roofing - Beware of Scammers and Impersonators</title>
<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
<link href="/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/lightbox/css/lightbox.css" type="text/css" />
<style>
	/* Use the custom class in your CSS rules */
.custom-modal {
	font-size: 18px;
  }
  
  .custom-modal .modal-dialog {
	max-width: 800px;
  }
  
  .custom-modal .modal-header {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .custom-modal .modal-title {
	flex-grow: 1;
	text-align: center;
  }
  
  .custom-modal .modal-warning-emoji {
	font-size: 24px;
	margin-right: 8px;
  }
</style>
<script src="/lightbox/scripts/prototype.js" type="text/javascript"></script>
<script src="/lightbox/scripts/lightbox.js" type="text/javascript"></script>
<script language="javascript" src="/analytics.js"></script>
<!-- <script src="https://www.google.com/recaptcha/api.js" async defer></script> -->
<script src="https://unpkg.com/@botpoison/browser"></script>

</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TL3XD2DS"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	
	<div id="wrapper">
				<!-- Add the modal HTML code -->
				<div class="modal custom-modal" tabindex="-1" role="dialog" id="scamWarningModal">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<span class="modal-warning-emoji">&#9888;</span>
								<h5 class="modal-title">Important Notice</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<p>We recently discovered that scammers were using our company's name and logo. We have never changed our contact. Please always use this phone number: {{.Site.Params.phone}}.</p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
				<!-- End of the modal HTML code -->
		<div id="head">
			<div id="text-us" class="position-relative">Text us at:</div>
			<div id="text-reply" class="position-relative font-italic">100% Response Rate!</div>
		</div><!-- end of head -->
		<div id="topmenu">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/estimate">For An Estimate</a></li>
				<li><a href="/services">List of Services</a></li>
				<li><a href="/testimonials">Testimonials</a></li>
				<li><a href="/aboutus">About Us</a></li>
				<li><a href="/contactus">Contact Us</a></li>
			</ul>
		</div><!-- end of topmenu -->
{{ block "main" . }}

{{end}}
	  
      <!-- end of content -->
	  <div id="foot">
			<hr />
			<div id="footerArea1"><h1>Our Services</h1><p>- Reroofing<br />
			  - New Roof<br />- Skylight<br />
			  <a href="services.php">Learn More...</a></p>
			</div>
			<div id="footerArea1"><h1>Our Commitments</h1><p>- First Class Quality <br />
			  - 10 Years Labor Warranty <br />- 100% Satisfaction Guarantee<br />
			  <a href="aboutus.php">Learn More...</a></p>
			</div>
			<div id="footerArea1"><h1>Contact Us</h1><p>Text @: {{.Site.Params.phone}}<br>(We reply all messages!)</p><p><a href="mailto:info@cstarroofing.com">info@cstarroofing.com</a><p>450 Comstock Rd, Scarborough, ON M1L 2H4<br>Unit 5</p></div>
			<div id="footerArea2"><p>Copyright {{ .Date.Format "2006" }} <br />C-Star Roofing Inc.</p></div>		
		</div><!-- end of footer -->
	</div>
	<!-- end of wrapper -->
<script type="text/javascript" src="/bootstrap/js/jquery.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.bundle.min.js"></script>	
<!-- Add the JavaScript code -->
<script type="text/javascript">
    // Add the JavaScript code for handling cookies and the modal here

	function setCookie(name, value, days) {
		var expires = "";
		if (days) {
		  var date = new Date();
		  date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
		  expires = "; expires=" + date.toUTCString();
		}
		document.cookie = name + "=" + (value || "") + expires + "; path=/";
	  }
	  
	  function getCookie(name) {
		var nameEQ = name + "=";
		var ca = document.cookie.split(';');
		for (var i = 0; i < ca.length; i++) {
		  var c = ca[i];
		  while (c.charAt(0) == ' ') c = c.substring(1, c.length);
		  if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
		}
		return null;
	  }
	  
	  $(document).ready(function() {
		if (!getCookie('modalShown')) {
		  $('#scamWarningModal').modal('show');
		}
	  });
	  
	  $('#scamWarningModal').on('hidden.bs.modal', function () {
		setCookie('modalShown', 'true', 7); // Set the cookie to expire in 7 days
	  });
	  
  </script>
  <!-- End of the JavaScript code -->
</body>
</html>
