{{define "main"}}
<div id="estimate">
    <div id="estimateLeftside">
    <p class="formTitle">Online Estimation Form</p>
    <p class="formRequiredField">* indicates required fields </p>
    <br />
    <form action="https://submit-form.com/O960gL2A">
        <p>
          <label for="salutation" class="estimate">* Salutation: </label>
          <select name="salutation" class="estimate"><option value="Mr." selected="selected">Mr.</option><option value="Mrs.">Mrs.</option><option value="Miss.">Miss.</option><option value="Ms.">Ms.</option></select></p>
        <p><label for="firstname" class="estimate">* Firstname: </label><input class="estimate" type="text" name="firstname" /></p>
        <p><label for="lastname" class="estimate">* Lastname: </label><input class="estimate" type="text" name="lastname" /></p>
        <p><label for="address" class="estimate">* Address: </label><input class="estimate" name="address" type="text" size="40" /></p>
        <p><label for="city" class="estimate">* City: </label><input class="estimate" type="text" name="city" /></p>
        <p><label for="postal" class="estimate">* Postal Code: </label><input class="estimate" type="text" name="postal" /></p>
        <p><label for="nSInter" class="estimate">* Major Interception North-South : </label><input class="estimate" type="text" name="nSInter" /></p>
         <br />
        <p><label for="eWInter" class="estimate">* East-West : </label><input class="estimate" type="text" name="eWInter" />
        </p>
        <p><label for="homePhone" class="estimate">* Home Phone:  </label><input class="estimate" type="text" name="homePhone" /></p>
        <p><label for="workPhone" class="estimate">Work Phone:  </label><input class="estimate" type="text" name="workPhone" /></p>
        <p><label for="otherPhone" class="estimate">Other Phone:  </label><input type="text" class="estimate" name="otherPhone" /></p>
        <p><label for="fax" class="estimate">Fax:  </label><input class="estimate" type="text" name="fax" /></p>
        <p><label for="email" class="estimate">Email:  </label><input class="estimate" type="text" name="email" /></p>
        <p><label for="referral" class="estimate">How were you referred to C-Star Roofing? </label>
            <select name="referral" class="estimate">
            <option selected value>Please select</option>
            <option value="Previous_Customer">Previous Customer</option>
            <option value="Refered">Refered</option>
            <option value="Home_Inspector">Home Inspector</option>
            <option value="Lawn_Signs">Lawn Signs</option>
            <option value="Vehicle_Signs">Vehicle Signs</option>
            <option value="Yellow_Pages">Yellow Pages</option>
            <option value="TV_Ad">TV Ad</option>
            <option value="Radio_Ad">Radio Ad</option>
            <option value="Magazine_Ad">Magazine Ad</option>
            <option value="Newspaper_Ad">Newspaper Ad</option>
            <option value="Bill_Board_Sign">Bill Board Sign</option>
            <option value="Poster_Sign">Poster Sign</option>
            <option value="401_Sign">401 Sign</option>
            <option value="Trade_Show">Trade Show</option>
            <option value="Flyer">Flyer</option>
            <option value="Email">E-Mail</option>
            <option value="Bench_Sign">Bench Sign</option>
            <option value="Door_Knocker">Door Knocker</option>
            <option value="Commercial_Flyer">Commercial Flyer</option>
            <option value="Carpentry_Flyer">Carpentry Flyer</option>
            </select>				
        </p>
        <br />
        <p><label for="workDetails" class="estimate"> Details of the work desired: </label><textarea class="estimate" name="workDetails" cols="40" rows="5"></textarea></p>
        <p><label for="buildingDetails" class="estimate">List out the following building details: </label>
            <select name="buildingDetails1" class="estimate">
            <option selected value>Please select</option>
            <option value="Bungalow">Bungalow</option>
            <option value="2_Story">2 Story</option>
            <option value="3_Story">3 Story</option>
            <option value="4_Story">4 Story</option>
            </select>	
            &nbsp;&nbsp;
            <select name="buildingDetails2" class="estimate">
            <option selected value>Please select</option>
            <option value="Detached">Detached</option>
            <option value="Semi_ Detached">Semi Detached</option>
            <option value="Row_House">Row House</option>
            <option value="Condo">Condo</option>
            <option value="Series_Of_Condos">Series Of Condos</option>
            <option value="Apartment_Building">Apartment Building</option>
            <option value="Office_Tower">Office Tower</option>
            <option value="Commercial_Building">Commercial Building</option>
            </select>				
        </p>
        <br />
        <p><label for="dateFinish" class="estimate">* How soon would you expect the work done? (YYYY/MM/DD)</label><input class="estimate" type="text" name="dateFinish" /></p>
        <br />
        <input type="hidden" name="_email.subject" value="C-Star Website Estimation Submission" />
        <div class="g-recaptcha" data-sitekey="6Le1f-USAAAAAJlIO8CEXRKqRJuGLiU42Hwp1_fE"></div>
        <br/>
        <p><input type="submit" name="submit" class="submit" value="Submit Estimate" /></p> 
    </form>
    </div><!-- end of estimateLeftside-->
    
    <div id="estimateRightside">
        <div id="estimateContact">
            <h3>Contact Us</h3>
            <p>Text at: <b>{{.Site.Params.phone}}</b><br>(We reply all messages.)</p>
            <p>Address: <br />
             {{.Site.Params.address}} </p>
          <p>Email: <br />
              <a href="mailto:{{.Site.Params.email}}">{{.Site.Params.email}}</a> </p>
        </div>
    </div>
    
</div>
{{end}}