{{define "main"}}
<div id="gallery">
  <h4>Gallery</h4>
  <div id="piclist">
    <div class="picleft"><a href="/images/c-star-roofing-houses1.jpg" rel="lightbox" title="One day job"><img src="/images/c-star-roofing-houses1-200.jpg" alt="job"/></a></div>
    <div class="picmiddle"><a href="/images/c-star-roofing-houses2.jpg" rel="lightbox" title="One day job"><img src="/images/c-star-roofing-houses2-200.jpg" alt="job"/></a></div>
    <div class="picright"><a href="/images/c-star-roofing-houses3.jpg" rel="lightbox" title="One day job"><img src="/images/c-star-roofing-houses3-200.jpg" alt="job"/></a></div>		
    <div class="picleft"><a href="/images/c-star-roofing-hilton2-big.jpg" rel="lightbox" title="Job"><img src="/images/c-star-roofing-hilton2-200.jpg" alt="job"/></a></div>
    <div class="picmiddle"><a href="/images/c-star-roofing-hilton-big.jpg" rel="lightbox" title="Job"><img src="/images/c-star-roofing-hilton-200.jpg" alt="job"/></a></div>
    <div class="picright"><a href="/images/c-star-roofing-church-big.jpg" rel="lightbox" title="Job"><img src="/images/c-star-roofing-church-200.jpg" alt="job"/></a></div>		
  </div>
{{end}}