{{define "main"}}
<div id="services">
  <h3>Our Services</h3>
  <p class="serviceTitle">C-Star Roofing offers a wide range of roofing services</p>
  <a href="/estimate"><img src="/images/freeestimate.jpg" class="float-right" border="0"/></a>
  <p>
  <ul>
      <li>Reroofing</li>
      <li>Repairs</li>
      <li>New Roof</li>
      <li>Skylights</li>
      <li>Eavestroughs</li>
      <li>Soffits</li>
      <li>Vinyl sidings</li>
      <li>Emergency Service</li>
      <li>Warranty Service</li>
  </ul>
  </p>
  <p class="serviceTitle">Roofing</p>
  <p>To provide you with the best quality and satisfaction, C-Star Roofing uses only Owens Corning materials, which come with a limited lifetime warranty, as a standard in all the new and repair projects.</p>
  <p class="serviceTitle">Job Types</p>
  <p>C-Star Roofing has installed or repaired over 10,000 roofs since 1993. Our professional crews assure that your roofing needs are met, from new 
roofing installation, residential repairs to community and commercial buildings.</p>
  <p class="serviceTitle">Licensing</p>
  <p>C-Star Roofing is a fully licensed company with every city and town in which we provide services.  You can trust us with our professional licensing and if something should go wrong with the installation and repairs, we will happily provide the copies of our licenses and certificates.</p>
  <p class="serviceTitle">Warranties</p>
  <p>For any of our new roof installation and re-roofing jobs, we provide you with a ten years labor warranty certificate for you to keep after work finished. </p>
</div>
{{end}}